@model mpf.Models.DegreeTbl

@{
    ViewBag.Title = "Degree";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("Degree", "AdminHome", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Degree Form</h4>
                <div class="forms-sample">

                    <div class="form-group">
                        @Html.LabelFor(model => model.degree, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.degree, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.degree, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </div>
                <br />
                <label style="color:red;">@ViewBag.status</label>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category Table</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>degree</th>
                               
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Degreelist)
                            {
                                <tr>
                                    <td>
                                        @item.id
                                    </td>
                                    <td>
                                        @*@item.degree*@
                                    </td>
                                  
                                    <td>  @Html.ActionLink("Edit", "Degree", new { id = item.id })</td>
                                    <td>  @Html.ActionLink("Delete", "DegreeDelete", new { id = item.id })</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


