@model mpf.Models.Slider

@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>


@using (Html.BeginForm("Slider", "AdminHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slider Form</h4>
                <div class="forms-sample">
                    <div class="form-group">
                        @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                            @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Heading, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Heading, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Heading, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Description, new { id = "editor" })
                                <script>
                                    CKEDITOR.replace('editor');
                                </script>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </div>
                <br />
                <label style="color:red;">@ViewBag.status</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Slider Table</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>image</th>
                                <th>Heading</th>
                                <th>Description</th>

                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.slide)
                            {
                                <tr>
                                    <td>
                                        @item.id
                                    </td>
                                    <td>
                                        <img src="~/Content/mpfimages/Slider/@item.image" />
                                    </td>
                                    <td>
                                        @item.Heading
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>  @Html.ActionLink("Edit", "Slider", new { id = item.id })</td>
                                    <td>  @Html.ActionLink("Delete", "SliderDelete", new { id = item.id })</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
